<!DOCTYPE html>

{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="//code.jquery.com/jquery.min.js"></script>
<title>Home</title>
</head>
<!-- 
main-hero image is the main background image.
Nav is the class for the navigation style, and the navbar id is where the navbar gets replaced by the jquery script.
-->
<html class="main-hero-image" lang="html">
    <div class="nav">
        <div id="navbar">
            <script>$.get("static/navigation/navbar.html", function(data){$("#navbar").replaceWith(data);});</script>
        </div>
    </div>

    <h1><span>Bhem Studnt Housing Pjt</span></h1>
    
<!--
Paragraph is the class with some kind of background for a text box
-->
    
    <div class="container">
        <h2 id="underline">Taco</h2>
    </div>

</html>
