h1{
    text-align: center;
    color: black;
    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    font-family: Custom;
    border-width: 1px;
    padding: 25px;
    font-size: 40px;
    margin: 50px;
    padding: 10px;
}

h2{
    text-align: center;
    color: black;
    background-color:rgba(255,255,255,0.5);
    font-family: Custom;
    border-width: .5px;
    padding: 25px;
    font-size: 28px;
    margin: 50px;
    padding: 10px;
    
}

.main-hero-image{
    background: url("Pictures/perry-kibler-55eOz9BtaUg-unsplash.jpg") no-repeat center fixed;
    background-color: #cccccc;
    height: 1000px;
    background-size: cover;  
    position:top;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}



/* 
Nav bar style
*/
ul {
  list-style-type: none;
  overflow: auto;
  position: auto;
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

li {
  float: left;
}
    
li a {
  display: block;
  color: black;
  padding: 8px 8px;
  text-decoration: none;
}
    
li a.text{
    font-family: Custom;
    font-size: 18px;
    color: black;
}
  
li a:hover:not(.active) {
  background-color: #555;
  background-color: rgba(255,255,255,0.9);
}

/*
Fonts
*/

@font-face{
    font-family: Custom;
    src: url("Fonts/Oranienbaum.ttf") format("opentype");
}

