h1{ 
    float: center;
    text-align: center;
    color: black;
    font-family: Custom;
    font-size: 50px;
    margin-top: 65px;
}

h2{
   text-align:center; 
   margin-top:auto;
   color:black;
   font-family:Custom; 
   border-bottom: 1px solid black;
   font-size:25px;
}

h1 span{
    position:relative; 
    background-color: rgba(255,255,255,0.7);
    padding-right: 25px;
    padding-left: 25px;
}
text{
    color:black;
    font-family: Custom;
    font-size:10px;
}
.main-hero-image{
    background: url("Pictures/perry-kibler-55eOz9BtaUg-unsplash.jpg") no-repeat center fixed;
    background-color: #cccccc;
    background-size: cover;  
    position:center;
}

.paragraph{
  text-align: left;
  background-color:rgba(255,255,255,0.7);
  font-family: Custom; 
  margin-right:auto;
  margin-left:auto;
  width: 550px;
  height: 350px;
  padding: 10px;
}

#header{
    align-items: top;
    margin-right:auto;
    margin-left:auto;
    height: 60%; 
    width: 70%;
}

#paragraph{
   align-items: top;
   margin-right:auto;
   margin-left:auto;
   height: auto; 
   width: 50%; 
}

/* 
Nav bar style
*/
.nav ul {
  position: absolute;
  list-style-type: none;
  background-color: rgba(255,255,255,0.8);
  line-height: 1.5em;  
  margin: 0;
  padding: 0;
  top: 0;
  height: auto;
  width: 100%;
}

.nav ul li {
  float: left;
}
    
.nav li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  line-height: 1.5em; 
}
    
.nav li a.text{
    font-family: Custom;
    font-size: 18px;
    color: black;
}
  
.nav li a:hover {
  background-color: white;
  line-height: 1.5em;
}

.head-img{
    display:block;
    float:right;
    line-height: 1.5em;
}

.dropbtn{
  color: black;
  font-family: Custom;
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.5em;  
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  font-family: Custom;
  align-content: center;
  position: absolute;
  z-index: 1;
}

.dropdown-content a{
  color: black;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  text-decoration: none;
  display: block;
  padding: inherit;
  width: 92%;
}

.dropdown-content a:hover {
    background-color: rgba(255,255,255,0.95);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,0.9);
}

/*
Fonts
*/

@font-face{
    font-family: Custom;
    src: url("Fonts/Oranienbaum.ttf") format("opentype");
}

